.info {
  background-color: #555;
  color: white;
  font-size: 13px;
  padding: 14px 0;
  text-align: center;
  width: 100%;
}

.info > a {
  color: white;
  text-decoration: underline;
}

.products {
  margin: auto;
  width: 98%;
}

.text_center {
  text-align: center;
}
