.info {
  background-color: #555;
  color: white;
  font-size: 14px;
  padding: 14px 0;
  text-align: center;
  width: 100%;
}

.products {
  margin: auto;
  width: 98%;
}

.text_center {
  text-align: center;
}
