.container {
  background-color: #0c0c0c;
  height: 100vh;
  padding: 4%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.container span {
  color: #eee;
  font-size: 35px;
}

.container form {
  margin: 50px auto 0 auto;
  position: relative;
  width: 90%;
}

.container input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #777;
  color: #777;
  font-size: 22px;
  height: 50px;
  outline: none;
  width: 100%;
}

.searchIcon svg {
  color: #777;
  font-size: 25px;
  cursor: pointer;
  right: 0px;
  top: 20px;
  position: absolute;
  transition: 0.2s;
}

.searchIcon svg:hover {
  color: #bbb;
}

.container button {
  color: #ccc;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 45px;
  position: absolute;
  right: 5%;
  top: 7%;
  transition: 0.2s;
}

.container button:hover {
  color: #f5f5f5;
}
