.wrapper {
    margin: 50px auto;
    height: auto;
    width: 92%;
}

.main_info {
    display: flex;
    gap: 40px;
    width: 100%;
}

.images_wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    position: relative;
    width: 65%;
}

.top_images_wrapper {
    display: flex;
    gap: 30px;
}

.top_images_wrapper img {
    width: calc(50% - 15px);
}

.top_images_wrapper_mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_images_wrapper_mini img {
    width: calc(100% - 50px);
}

.bottom_images_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.bottom_images_wrapper img {
    width: 100%;
}