.headerright {
  align-items: center;
  display: flex;
  gap: 20px;
}

.iconMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-left: 1px solid #ddd;
  font-size: 22px;
  padding-left: 15px;
  line-height: 15px;
}

.iconMenu:hover {
  color: #444;
}