.footer {
  margin-top: 70px;
}

.title {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
}

.information {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
  width: 95%;
}

.copyright {
  margin: 40px 0;
  text-align: center;
}

.copyright p {
  color: #777;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
}
