.description {
    display: flex;
    margin: 80px 0;
    justify-content: center;
}

.title {
    background-color: #eee;
    height: 50px;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
}

.table_item {
    background-color: #eee;
    height: 30px;
    margin-bottom: 10px;
    width: 500px;
}