.info {
    background-color: #f5f5f5;
    border-top: 3px solid #444;
    padding: 25px;
    margin: 20px 0;
    width: 100%;
}

.textCenter {
    text-align: center;
}

.info p {
    color: #444;
    font-size: 20px;
    font-weight: 500;
}