.product {
  height: auto;
  position: relative;
  width: 100%;
}

.image {
  background-color: #eee;
  padding-top: 150%;
  width: 100%;
}

.description {
  padding: 20px 0;
}

.title {
  background-color: #eee;
  margin: 0 auto 10px auto;
  height: 25px;
  width: 90%;
}

.price {
  background-color: #eee;
  height: 25px;
  margin: auto;
  width: 60%;
}
