.banner {
  display: flex;
  margin: 30px 0;
  width: 100%;
}

.item {
  margin: 0 15px;
  overflow: hidden;
}

.item:hover img {
  filter: brightness(0.7);
  transform: scale(1.1);
}

.item img {
  height: 100%;
  object-fit: cover;
  transition: 1s;
  width: 100%;
}
